/*---------------------------------------------------------------------------------*/

/* code cree par Alexcaussades pour le compte de El_GuiGui toute reproduction et formellement interdite
contact pro: alexcaussades@gmail.com twitter: @alexcaussades */

/*---------------------------------------------------------------------------------*/

/* video en background */
video { position:absolute; z-index:-1;}
video.fillWidth {width:100%; min-height:100%;}

#video-container { top:0%; left:0%; height:100%; width:100%; overflow: hidden; position: absolute; background-size:cover; margin-left:auto; margin-right:auto;} 

body {
	
	font-family: 'Anton', cursive;
    width: 90%;
    height: 90%;
    overflow-x: auto;
}

/* responsive version mobile line 78*/
.imageres {
    display: none;
}

/* Hors Services */
.title {
    height: 100%;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 100px;
    color: #288028;
}

/* bouton d'appel au formulaire line 96 */
.btn2 {
    display: block;
    cursor: pointer;
    width: 80%;
    font: bold 25px verdana;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0 6px 0;
    border: none;
    border-radius: 30px;
    border-bottom: 3px solid ;
    
   }

/* Hors Services */
.more {
	width: 281px;
	height: 371px;
	margin-left: 50%;
}

/* reglage du bouton discord line 100 */
.discord {
    width: 60px;
    height: 60px;
}

/* non utilser sur cette version */
.panneau {
    background-color: black;
    opacity: 0.2;
    background-repeat: no-repeat;
}

/* line 82 correspondance CSS FA1*/
.social {
    float: right;
    margin: 50px 0 0 0 ;
    font-size: 40px;
    color: white;
}

/* version mobile */
.fa1 {
    display: none;
}

/* compte a rebour */
.car {
    color: white;
    font-size: 25px;
   font-style: arial;
}

/* logo social line 83 à 86 */
.fa {
    color: white;
}

/* social média version mobile line 134 à 138 */
.famobile {
    display: none;
}

/* line 142 toute version 
Changement de style d'ecriture en Ubuntu ! 
*/
.copyright {
    float: right;
    color: white;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-width: 640px) {

body {
    background-color: black;
    background-repeat: no-repeat;
}

/* logo ark version mobile */
.imageres {
    display: block;
    width: 90%;
    height: 90%;
    margin-top: 20px;
}

/* Video : #1 pas de video en version mobile */
  .video-container {
    display: none;
  }
/* Video: #2 pas d'afficage de la video */
.videoacid { display: none;}


/* redimention du compte a rebour */
.car {
    color: black;
    font-size: 15px;
   font-style: arial;
}

/* affichage du social media */
.famobile {
    display: block;
    color: black;
}

/* couleur du social media */
.fa {
    color: black;
    float: right;
    margin-top: 120px;
}

/* mise en place du bouton pour faire la demande */
.btn2 { 
    display: block;
    cursor: pointer;
    width: 80%;
    font: bold 15px verdana;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0 6px 0;
    border: none;
    border-radius: 30px;
    border-bottom: 3px solid ;
    margin-top: -540px; 
}
}